* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100;
  height: auto;
}

.home_wrap {
  width: 100%;
  height: 150vw;
  background-color: #292f2b;
  position: static;
}

.outside_relative {
  position: sticky;
  height: 80vw;
  overflow-y: clip;
  top: 0px;
}

.home_wrap1 {
  width: 100%;
  height: 500px;
  background-color: red;
}

.home_wrap2 {
  width: 100%;
  height: 500px;
  background-color: blue;
}
.home_wrap3 {
  width: 100%;
  height: 500px;
  background-color: green;
}
.relative {
  width: 98vw;
  z-index: 50;
  height: 100vh;
  position: absolute;
  top: 0vw;
}
.main_img {
  left: 0px;
  width: 100%;
  transform: translateX(-0vw);
  height: 100vh;
  /* transform: translateY(-21vh); */
}
.inside_relative {
  width: 98%;
  height: auto;
  transform: translateX(1vw);
}

.relative1 {
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0vw;
  height: 100vh;
  overflow-y: hidden;
  transform: translateY(-100vh);
  transition: 2.5s ease;
}

/* .goup1 {
  transform: translateY(0vh);
  transition: 2.5s ease;
} */

.relative2 {
  position: absolute;
  z-index: 30;
  top: 0vw;
  width: 100%;
  height: 100vh;
  transition: 2.5s ease;
  transform: translateY(200vh);
  overflow-y: hidden;
  /* margin-bottom: 10px; */
}

.bg_img {
  width: 100%;
  height: 99%;
}
.bg_img2 {
  width: 100%;
  height: 100%;
}
